@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	-webkit-tap-highlight-color: transparent;
}
*::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
*::-webkit-scrollbar-track {
	border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
	pointer-events: all;
	background: #d9d9d9;
	border-radius: 10px;
}

@layer base {
	.headings {
		@apply text-[32px] font-bold text-dark md:text-5xl;
	}
	.header {
		@apply text-2xl font-bold text-dark md:text-4xl;
	}
	.title {
		@apply text-lg font-semibold text-dark md:text-[22px] md:leading-[33px];
	}
	.sub-title {
		@apply text-base font-medium text-dark md:text-xl;
	}
	.body {
		@apply text-sm font-normal text-dark md:text-base;
	}
	.caption {
		@apply text-xs font-bold text-dark md:text-sm;
	}
}
